asgiref==3.2.3
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
Django==3.0.2
future==0.16.0
idna==2.8
pkg-resources==0.0.0
pycparser==2.19
python-telegram-bot==12.3.0
pytz==2019.3
requests==2.22.0

six==1.14.0
sqlparse==0.3.0
tornado==6.0.3
urllib3==1.25.8
yandex-geocoder==1.0.1
